
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }




@font-face {
  font-family: "PT Sans";
  src:
      url("../fonts/ptsans.woff2"),
      url("../fonts/ptsans.woff");
  font-weight: 500;
  font-style: normal; 
}

@font-face {
  font-family: "PT Sans";
  src:
      url("../fonts/ptsansold.woff2"),
      url("../fonts/ptsansbold.woff");
  font-weight: 700;
  font-style: normal; 
}

 
* {
  outline: solid 1px red;
}


body {
  margin: 0 auto;
  padding: 0;
  min-width: 768px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  color: #333;
  background-color: #f2f2f2;
  /*background-image: url("../img/barbershop-index/bg.jpg");*/
  background-position: top center;
  background-repeat: no-repeat;

  /*background: #2a3e45;  для демо */
}



img {
  max-width: 100%;
  height: auto;
}


/*каталог*/
.inner-page {
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("../img/barbershop-index/pattern-light.png");
  background-position: 0 0;
  background-repeat: repeat;
}









a {
  text-decoration: none;
}



.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
}








/*.showcase-bg {
  position: absolute;
  display: block;
  top: 56px;
  left: 0;
  width: 100%;
  height: auto;
}*/


.container {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  
}

/*ХЕДЕР*/
.page-header {
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.main-nav-menu {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000;

  background-color: #fff;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
}


.main-nav {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: #000;

  background-color: #fff;
}


.main-nav-menu a {
  color: #000;
}

.main-nav-menu a:hover,
.main-nav-menu a:focus,
.main-nav-menu a:hover,
.main-nav-menu a:focus {
  color: #242424;
}






.showcase {
  position: relative;

  min-height: 508px;
  padding-top: 100px;
  /*padding-bottom: 80px;
*/
  background: url(../img/showcase-bg.jpg) no-repeat center center;
  background-color: #e3edf6;
}

.showcase-info {
  position: relative;

  margin-left: auto;
  margin-right: auto;

  padding: 50px 0;

  background: #fff;
  text-align: center;
}






.showcase-info::before {
  content: "";
  position: absolute;
  left: 0px;
  /* right: 0; */
  bottom: 202px;
  width: 100%;
  height: 58px;
  background: url(../img/showcase-shape.png) no-repeat center;
  background-size: 100% auto;
  /* z-index: 1; */
}

.showcase-img {
  /*position: relative;*/
  display: block;
  /*width: 458px;*/
  /*height: 352px;*/
  margin: 0 auto;
  margin-bottom: 40px;
}


.about-slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
}




.about-lead {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}




.all-reasons-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}


.reason {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 256px;
  overflow: hidden;
}



.reason-item {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 256px;
  overflow: hidden;

}

.reason-item:nth-child(2) {
  flex-direction: row-reverse;
}

.reason {
  position: relative;
  display: flex;
  min-height: 256px;
  overflow: hidden;
}




.reason-info {
  width: 33.33%;
  min-height: 256px;
  padding: 47px 38px 39px;
  background-color: #81b3d2;
  color: #fff;
  text-align: center;
}



.reason-foto {
  position: relative;
  width: 66.66%;
  background-color: #deebf4;
}

.reason-foto img {
   display: block;
/*  top: 50%;
  right: 0;
  left: 0;*/
  width: 100%;
}

.reason-title {
  margin: 0 auto;
  max-width: 160px;
  font-size: 21px;
  line-height: 21px;
}


.reason-text {
  margin-top: 21px;
  margin-bottom: 0;
}






.features {
  padding: 26px 0 82px;
   background-color: #fff;
}


.feature-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  position: relative;
  width: 33.33%;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 105px;
  text-align: center;
}


.features-item-title {
  margin: 0 0 23px;
  font-size: 21px;
  line-height: 21px;
}

.features-item-text {
  margin: 0;
}






3,4,5 причины

.reasons {
  padding: 47px 0 60px;
  background-color: #f2f2f2;
}

.reasons-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
}


.reasons-item {
  position: relative;
  width: 33.33%;
  padding-left: 48px;
  padding-right: 48px;
  text-align: center;
}

.reasons-item-title {
  /*padding-top: 28px;*/
  margin: 23px auto 23px;
  max-width: 160px;
  font-size: 21px;
  line-height: 21px;
}

.reasons-item-text {
  margin: 21px 0 21px;
}






































/*ФИЛТР ШКАЛА  НАЧАЛО*/
.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*ФИЛТР ШКАЛА  КОНЕЦ*/